<ion-header [translucent]="true">
    <ion-toolbar color="coalimar">
      <ion-title class="ion-text-center">
      Búsqueda Manual
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar
      debounce="500"
      animated
      (ionChange)="buscar($event)"
      class="ion-text-center"
      inputmode="numeric"
      placeholder="INTRODUCE EAN"
      type="search"
  ></ion-searchbar>
    </ion-toolbar>
</ion-header>
<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content> -->
<ion-content>

  <ion-card *ngIf="data"  class="ion-text-center">
    <ion-spinner *ngIf="show" name="crescent"></ion-spinner>
    <ion-card-header>
      <img src="{{ this.image }}" alt="" srcset="">
      <ion-card-title>{{ data.Nombre }}</ion-card-title>
      <ion-card-subtitle>{{ this.codeStr }} {{ data.Codigo }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <h1>{{ data.Pvp | currency:'€ ' }}</h1>
    </ion-card-content>

  </ion-card>

</ion-content>
